{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h2>Log in</h2>

    {% if form.errors %}
        <ul class="errorlist">
            <li>Something is wrong! Try again.</li>
        </ul>
    {% endif %}

    <div class="form">
        <form id="loginForm" method="post" action="/account/login/" role="form">
            {% csrf_token %}

            <div class="form-group">
                <input type="text" id="username" class="formInputText form-control" name="username" maxlength="30" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" id="password" class="formInputText form-control" name="password" maxlength="30" placeholder="Password">
            </div>

            <input type="checkbox" id="remember" name="remember" value="y"> remember me for next time

            <div>
                <input type="submit" class="btn btn-primary btn-login" name="submit" value="Login" />
            </div>
            <div>
                <a href="/account/register/" class="btn btn-primary btn-login">Register</a>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}
