{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h2>Log in</h2>

    {% if form.errors %}
        <ul class="errorlist">
            <li>Something is wrong! Try again.</li>
        </ul>
    {% endif %}

    <div class="form">
        <form id="loginForm" method="post" action="/account/login/">{% csrf_token %} 
            <table>
                <tr>
                    <td>username</td>
                    <td>
                        <input type="text" id="username" class="formInputText" name="username" maxlength="30">
                    </td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>
                        <input type="password" id="password" class="formInputText" name="password" maxlength="30">
                    </td>
                </tr>
            </table>

            <input type="checkbox" id="remember" name="remember" value="y"> remember me for next time

            <div>
                <input type="submit" class="btn btn-primary btn-login" name="submit" value="Login" />
            </div>
            <div>
                <a href="/account/register/" class="btn btn-primary btn-login">Register</a>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}
