.clearfix {
    clear: both;
}
.content {
    margin-left: 20px;
}
textarea {
    width: 450px;
}
.content-area {
    /*min-width: 700px;
*/}
/* user profile */
.user-activity__info td{
    padding-right: 20px;
}
.user-activity__tags {
    margin-top: 20px;
}
.user-activity__tags span {
    color: #fff;
}
.user-activity li {
    list-style: none;
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
}
/* user profile end */

.user-list-block, .tag-list-block {
    min-width: 700px;
}

/* main */
.see-all {
    float: right;
    color: #545454;
    text-decoration: none;
}
/* main end */

/* ask que form */
.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
}
.errorlist li {
    color: darkred;
}
/* ask que form */

/* question list */
.question-list__item {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}
.question-list__button {
    float: left;
    display: block;
    width: 65px;
    height: 55px;
    padding: 5px;
    margin: 5px;
    background-color: #ddd;
    color: #545454;
    border-radius: 1px;
    text-align: center;
}
.question-list__button:hover{
    text-decoration: none;
    color: #fff;
    background-color: #545454;
}
.question-list__desc {
    padding: 5px 0 0 10px;
    max-width: 470px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.question-link {
    display: inline;
    max-width: 470px;
    white-space: nowrap;
}
/* question list end */

/* include user_card */
.user-card {
    width: 170px;
    height: 70px;
    float: left;
    margin: 4px 2px;
}
.user-card__info {
    float: left;
}
.user-card__info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #545454;
}
.user-card__image {
    float: right;
    width: 48px;
    height: 48px;
}
/* user_card end */

/* include tag_cloud */
.tag-cloud {
    text-align: center;
    line-height: 26px;
}
.tag-list {
    text-align: center;
}
/* tag_cloud end */

.tag-question-list,
.user-list {
    min-width: 540px;
}

/*
     question.html 
                    */
/*votes*/
.user-block {
    position: relative;
    width: 300px;
    float: right;
    padding: 5px;
    margin-left: 5px;
}
.user-block_answer {
    width: 200px;
}
.text-block {
    float: left;
    padding: 5px;
}
.votes-block {
    float: right;
    padding: 5px;
}
.vote-button {
    cursor: pointer;
    font-size: 28px;
    line-height: 28px;
    display: inline-block;
}
.vote-button_pressed {
    color: #005580;
}
.votes-number {
    color: #08c;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
}
/* votes end */

/* bookmark */
.bookmark-block {
    float: left;
    padding: 5px;
}
.bm-button__count, .show-tags__count {
    font-size: 13px;
    color: #808080;
    display: inline-block;
    margin: 4px 0;
}
.marked {
    background-color: #e6e6e6;
}
/* bookmark end */
.question-post {
    min-width: 470px;
}
.question-post h3 {
    margin: 0;
    display: inline;
}
#answer-list {
    min-width: 470px;
}
.answer-list__item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* question block end */

.label-info, .badge-info {
    background-color:#545454;
    position: relative;
    bottom: 2px;
}

.validity-error {
    display: none;
    float: left;
    padding-left: 10px;
}

#add-question__submit {
    float: left;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 768px) {
  .menu-login {
    display: none;
  }
  .sidebar {
    display: none;
  }
}

.header {
  background-color: #000;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  min-width: 760px;
}

/* Nav */
.nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.nav-item:hover,
.nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.nav-item.active {
    text-shadow: 1px 1px 2px #fff
}

.nav-item__login {
    float: right;
    color: #fff;
}

.blog-nav .active {
  color: #fff;
}
/* nav */
