{% extends "base.html" %}

{% block statics %}
    <script type="text/javascript" src="/js/bootstrap-tagsinput.min.js"></script>
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% if not user.is_anonymous %}
        <h3>Add new question:</h3>
        {% if form.subject.errors %}
            <div class="error">
                <p>Ooops..! Seems that something is wrong! Check your data and submit again, please.</p>
            </div>
        {% endif %}

        <form  method="post" action="/questions/add/" id="question">
            {% csrf_token %}
            <div>
                <input id="id_head" type="text" name="head" maxlength="50" placeholder="Title" />
            </div>
            <div>
                <textarea id="id_content" rows="10" name="content" cols="40" placeholder="Your question"></textarea>
            </div>
            <p><i>Separate tags with comma</i></p>
            <div>
                <input id="id_tags" data-role="tagsinput" name="tags" type="text">
            </div>
            <input class="btn btn-inverse" type="submit" value="Send" />
        </form>

    {% else %}
        <div>
            <h3>Sorry</h3>
            <div>
                <p>Anonymous users have no ability to ask questions here.</p>
                <p>You're welcomed to <a href="/account/login/">log in</a> or <a href="/account/register/">register</a>.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}

