{% extends "base.html" %}
{% block title %}Questions and answers{% endblock %}

{% block content %}
        <h2>Hot tags</h2>
        <div class="col-sm-12 tag-list-block">
            {% if tag_list %}
                {% include 'includes/tag_cloud.tmpl' %}
                <div class="clearfix"></div>
                <a href="/tags/" class="see-all">see all</a>
            {% else %}
                <h4>Be first to <a href="/question/add">ask question</a> and create a tag.</h4>
            {% endif %}
        </div>

        <h2>Know-alls</h2>
        <div class="user-list-block">
            {% if knowing_users %}
                {% for a_count, q_count, username, first_name, last_name, pk in knowing_users %}
                    {% include 'includes/user_card.tmpl' %}
                {% endfor %}
                <div class="clearfix"></div>
                <a href="/users/" class="see-all">see all</a>
            {% else %}
                <h4>Become first and <a href="/register/">register</a>.</h4>
            {% endif %}
        </div>

        <h2>Most curious</h2>
        <div class="user-list-block">
            {% if curious_users %}
                {% for q_count, a_count, username, first_name, last_name, pk in curious_users %}
                    {% include 'includes/user_card.tmpl' %}
                {% endfor %}
                <div class="clearfix"></div>
                <a href="/users/" class="see-all">see all</a>
            {% else %}
                <h4>Become first and <a href="/register/">register</a>.</h4>
            {% endif %}
        </div>

{% endblock %}
