{% extends "base.html" %}


{% block content %}
    <div class="form">
        <h2>Sign up</h2>

        {% if error %}
            <ul class="errorlist">
                <li>{{ error }}</li>
            </ul>
        {% endif %}

        <form id="registerForm" method="post" action="/account/register/" role="form">
            {% csrf_token %}

            <div class="form-group">
                <div>Username</div>
                <input type="text" id="username" class="formInputText form-control" name="username" maxlength="30">
            </div>
            <div class="form-group">
                <div>First name</div>
                <input type="text" id="first_name" class="formInputText form-control" name="first_name" maxlength="30">
            </div>
            <div class="form-group">
                <div>Last name</div>
                <input type="text" id="last_name" class="formInputText form-control" name="last_name" maxlength="30">
            </div>
            <div class="form-group">
                <div>Password</div>
                <input type="password" id="password" class="formInputText form-control" name="password" maxlength="30">
            </div>
            <div class="form-group">
                <div>E-mail</div>
                <input type="email" id="email" class="formInputText form-control" name="email" maxlength="30">
            </div>

            <input class="btn btn-primary btn-login" value="Register" type="submit">
        </form>
        <a href="/account/login/" class="btn btn-primary btn-login">Log in</a>
        <div class="clearfix"></div>
    </div>
{% endblock %}
