{% extends "base.html" %}


{%block content%}


<div class="form">
    <h2>Sign up</h2>
    <ul class="errorlist">
        <li>{{my_error}}</li>
        <li>{{my_error2}}</li>
    </ul>
    <form id="registerForm" method="post" action="/account/register/">{% csrf_token %}

        <table>
            <tr>
                <td>username</td>
                <td><input type="text" id="username" class="formInputText" name="username" maxlength="30"></td>
            </tr>

            <tr>
                <td>first name</td>
                <td><input type="text" id="first_name" class="formInputText" name="first_name" maxlength="30"></td>
            </tr>

            <tr>
                <td>last name</td>
                <td><input type="text" id="last_name" class="formInputText" name="last_name" maxlength="30"></td>
            </tr>

            <tr>
                <td>password</td>
                <td><input type="password" id="password" class="formInputText" name="password" maxlength="30"></td>
            </tr>

            <tr>
                <td>e-mail</td>
                <td><input type="email" id="email" class="formInputText" name="email" maxlength="30"></td>
            </tr>

        </table>

        <input class="btn btn-inverse" value="Register" type="submit">
    </form>
    <div>
    <a href="/account/login/" >Already registered?</a>
    </div>
</div>
{% endblock %}
