{% extends "base.html" %}
{% load give_me_tags %}

{% block title %}{{ page_user.username }} profile{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="user-activity__info">
            <h2>
                {% if page_user.first_name or page_user.last_name %}
                    {{ page_user.first_name }}&nbsp;{{ page_user.last_name }}
                {% else %}
                    {{ page_user.username }}
                {% endif %}
            </h2>
            <table>
                {% if page_user.email %}
                    <tr>
                        <td><b>e-mail</b></td><td>{{ page_user.email }}</td>
                    </tr>
                {% endif %}
                {% if page_user.last_login %}
                    <tr>
                        <td><b>last seen</b></td><td>{{ page_user.last_login }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>

        {% if tag_list %}
            <div class="user-activity__tags">
                {% for tag in tag_list %}
                    <a href="/tag/{{ tag.pk }}"><span class="badge badge-info">{{ tag.name }}</span></a>
                {% endfor %}
            </div>

        {% endif %}

        <div class="clearfix"></div>

        {% block userdata  %}
            <div class="user-activity">
                <h3>Latest activity</h3>
                <div class="col-sm-6">
                    {% if asked_num > 0 %}
                        <h4>Questions ({{ asked_num }} in total)</h4>
                        {% for question in questions %}
                            <li>
                                <a href="/question/{{ question.pk }}">{{ question.head }}</a>
                            </li>
                        {% endfor %}
                        <a class="see-all" href="/user/{{ page_user.pk }}/q/">see all</a>
                    {% else %}
                        <h4>Questions</h4>
                        <p>User added no questions yet</p>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    {% if bm_num != 0 %}
                        <h4>Bookmarks ({{ bm_num }} in total)</h4>
                        {% for bookmark in bookmarks %}
                            <li>
                                <a href="/question/{{ bookmark.question.pk }}/">{{ bookmark.question.head }}</a>
                            </li>
                        {% endfor %}
                        <a class="see-all" href="/user/{{ page_user.pk }}/bm/">see all</a>
                    {% else %}
                        <h4>Bookmarks</h4>
                        <p>User has no bookmarks yet</p>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>

{% endblock %}